<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwin.db.mapper.SectorMapper">

<!--     //区块方法
    //插入区块信息
    public boolean insertSector(String manager,Integer house_number,String info);
    //更新一个区块的信息
    public boolean updateSectorById();
    //删除一个区块
    public boolean deleteSectorById();
    //根据id查询区块信息
    public Sector getSectorById();
    //查询所有区块信息
    public List<Sector> getAllSector();
    //查询区块总数
    public Integer getSectorNum();-->
    <insert id="insertSector">
        insert into sector(manager,house_number,info)values (#{manager},#{house_number},#{info})
    </insert>
    <update id="updateSectorById">
        update sector set manager=#{manager},house_number=#{house_number},info=#{info} where id=#{id}
    </update>
    <delete id="deleteSectorById">
        delete from sector where id=#{id}
    </delete>
    <select id="getSectorById" resultType="com.kwin.db.entity.Sector">
        select * from sector where id=#{id}
    </select>
    <select id="getAllSector" resultType="com.kwin.db.entity.Sector">
        select * from sector
    </select>
    <select id="getSectorNum" resultType="java.lang.Integer">
        select count(1) from sector
    </select>
<!--
    //插入大棚信息
    public boolean insertHouse(String employee,Integer sector_id,Integer house_id,Integer sensor_number,Integer cam_number,String info);
    //根据id更新大棚信息
    public boolean updateHouseById(Integer id,String employee,Integer sector_id,Integer house_id,Integer sensor_number,Integer cam_number,String info);
    //根据id删除大棚
    public boolean deleteHouseById(Integer id);
    //根据id查询大棚
    public House getHouseById(Integer id);
    //根据区块查询大棚
    public List<House> getAllHouseBySector(Integer sector_id);
    //查询所有大棚
    public List<House> getAllHouse();
    //查询大棚总数
    public Integer getHouseNum();
    //区块的大棚总数
    public Integer getHouseNumBySector(Integer sector_id);  -->
    <insert id="insertHouse">
        insert into house(employee,sector_id,house_id,sensor_number,cam_number,info)values (#{employee},#{sector_id},#{house_id},#{sensor_number},#{cam_number},#{info})
    </insert>
    <update id="updateHouseById">
        update house set employee=#{employee},sector_id=#{sector_id},house_id=#{house_id},sensor_number=#{sensor_number},cam_number=#{cam_number},info=#{info} where id=#{id}
    </update>
    <delete id="deleteHouseById">
        delete from house where id=#{id}
    </delete>
    <select id="getHouseById" resultType="com.kwin.db.entity.House">
        select * from house where id=#{id}
    </select>
    <select id="getHouseBy2Id" resultType="com.kwin.db.entity.House">
        select * from house where sector_id=#{sector_id} and house_id=#{house_id}
    </select>
    <select id="getAllHouseBySector" resultType="com.kwin.db.entity.House">
        select * from house where sector_id=#{sector_id};
    </select>
    <select id="getAllHouse" resultType="com.kwin.db.entity.House">
        select * from house order by sector_id,house_id
    </select>
    <select id="getHouseNum" resultType="java.lang.Integer">
        select count(1) from house;
    </select>
    <select id="getHouseNumBySector" resultType="java.lang.Integer">
        select count(1) from house where sector_id=#{sector_id}
    </select>

</mapper>